# R session files
.Rhistory
.RData
.Ruserdata

# RStudio files
.Rproj.user/
*.Rproj
leakR.Rproj

# Build/check artifacts
.Rcheck/
*.tar.gz
*.Rcheck/

# Temporary or backup
*~
*.bak
*.swp
.Rbackups/
R_backup/

# OS junk
.DS_Store
Thumbs.db

# Built docs
inst/doc/
doc/
Meta/
/doc/
/Meta/

CRAN-SUBMISSION
cran-comments.md
LICENSE
